.textInput {
  margin-top: 5px;
  font-size: 1.1em;
}

.row {
  height: 100%;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  .logoBlockContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-right: 25px;
    font-weight: 600;
    font-size: 1.3em;
    .image {
      margin-top: 10px;
      max-height: 100px;
      width: fit-content;
      border-radius: 8px;
    }
    .imageButton {
      display: flex;
      margin-top: 20px;
      width: 100%;
      font-size: 10px;
    }
  }

  .separator {
    align-self: stretch;
    border: 1px solid rgb(225, 225, 225);
  }

  .colorBlocksContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5 1fr 1fr;
    align-items: center;
    font-weight: 600;
    font-size: 1.3em;
    width: 50%;
    .palateTitle {
      grid-row: span 1 / span 1;
      text-align: center;
    }
    .colorBlocks {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: left;
      text-align: center;
      font-weight: 300;
      font-size: 0.7em;
      &:first-child {
        margin-top: 10px;
      }
      &:not(:first-child) {
        margin-top: 5px;
      }
      .colorPicker {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-bottom: 10px;
      }
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
