.container {
  width: 80%;
  min-width: 600px;
  max-width: 1200px;
  padding: 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  color: aliceblue;
  background-color: #0073c7;
  box-sizing: border-box;
  border: solid, black, 2px;
  border-radius: 10px;
  z-index: 10;
}

.pageTitle {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 20px;
  cursor: default;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  color: aliceblue;
  background-color: #0086e6;
  height: 100%;
  width: 100%;
  border: solid, black, 2px;
  border-radius: 10px;
  padding: 10px;
  z-index: 10;
}

.bg {
  background-color: #0075c9;
  border-radius: 8px;
  border: solid, black, 1px;
  padding: 20px 30px;
}

form {
  width: 100%;
}

.form {
  width: 100%;
}

.topForms {
  display: flex;
  gap: 10px;
  width: 100%;
}

.topFormsA,
.topFormsB,
.topFormsC {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topFormsB {
  justify-content: space-between;
}

.bottomForms {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  margin-bottom: 10px;
  height: 100%;
  font-size: 20px;
  font-weight: 700;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
  padding: 6px 10px;
  font-size: 15px;
  border-radius: 30px;
}

.backButton {
  cursor: pointer;
}

::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.backButton:hover {
  background-color: #e0e0e0;
}

.formLabel {
  color: aliceblue;
  font-size: 15px;
  font-weight: 700;
  width: 100%;
}

.dragger {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  color: aliceblue !important;
  text-decoration: none;
}

.center {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-content: center;
}

@media screen and (orientation: portrait) {
  body {
    width: 100vw;
  }

  .container {
    min-width: 0;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .info {
    width: 100%;
    padding: 10px;
  }

  .bg {
    width: 100%;
    padding: 10px;
  }

  .title {
    font-size: 0.9em;
  }

  .form {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .topForms {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .formLabel {
    font-size: 0.9em;
  }
}
