.container {
  width: 80%;
  min-width: 600px;
  max-width: 1200px;
  padding: 20px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  color: aliceblue;
  background-color: #0073c7;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 6px 6px 18px -10px black;
  z-index: 10;

  .pageTitle {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 20px;
    cursor: default;
  }

  .info {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    color: aliceblue;
    background-color: #0086e6;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px 2px #0086e6;
    border-radius: 10px;
    padding: 20px 30px;
    z-index: 10;

    .form {
      width: 100%;
      .topForms {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
        width: 100%;

        .topFormsA,
        .topFormsB,
        .topFormsC {
          display: grid;
          grid-template-rows: repeat(4, 1fr);
          gap: 5px;
          .formItem {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 20px;
            width: 100%;

            label {
              color: aliceblue;
              font-size: clamp(16px, 1.2vw + 0.5rem, 19px);
              line-height: 1.2;
              font-weight: 600;
              width: 100%;
            }
          }
        }

        .freq {
          grid-column: span 3 / span 1;
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-bottom: 20px;

          label {
            color: aliceblue;
            font-size: clamp(16px, 1.2vw + 0.5rem, 19px);
            line-height: 1.2;
            font-weight: 600;
            width: 100%;
          }
        }
      }
      .firstDiag {
        border-bottom-style: solid;
        border-bottom-color: black;
        border-bottom-width: 1px;
        padding-bottom: 20px;
        grid-column: span 3 / span 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        label {
          color: aliceblue;
          font-size: clamp(16px, 1.2vw + 0.5rem, 19px);
          line-height: 1.2;
          font-weight: 600;
          width: 100%;
        }
      }

      .bottomForms {
        display: flex;
        flex-direction: column;
        width: 100%;
        .formItem {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 20px;
          width: 100%;
          gap: 5px;

          label {
            color: aliceblue;
            font-size: clamp(16px, 1.2vw + 0.5rem, 19px);
            line-height: 1.2;
            font-weight: 600;
            width: 100%;
          }
        }
      }

      .buttonsContainer {
        width: fit-content;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .buttons {
          width: 100% !important;
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .container {
    min-width: 0;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

    form {
      display: flex !important;
      flex-direction: column !important;
      width: 100%;

      .info {
        width: 100%;
        padding: 10px;
        .bg {
          width: 100%;
          padding: 10px;

          .form {
            width: 100% !important;
            .topForms {
              width: 100%;
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}
