* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: clip;
  height: 100vh;
  width: 100vw;
}
#root {
  min-height: 100%;
  display: grid;
  grid-template-areas:
    "head"
    "content"
    "foot";
  grid-template-rows: 120px 1fr 60px;
}
header {
  grid-area: head;

  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: #000;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  box-sizing: border-box;
  contain: layout paint style;
}
main {
  grid-area: content;

  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  grid-area: foot;

  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: rgb(75, 79, 82);
  color: #fff;
  align-items: center;
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }

  #root {
    display: block;
  }

  main {
    background-color: white;
  }

  footer {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  html,
  body {
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
  }

  #root {
    min-height: 100%;
    display: grid;
    grid-template-areas:
      "head"
      "content"
      "foot";
    grid-template-rows: 100px 1fr 60px;
  }
}

@media screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1224px) {
  #root {
    grid-template-rows: 130px 1fr 70px;
  }
}
