*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
  width: 100vw;
}

#root{
  min-height: 100%;
  display: grid;
  grid-template-areas: 
    "head"
    "content"
    "foot";
  grid-template-rows: 120px 1fr 60px;
}

.header{
  width: 100vw;
  grid-area: head;
}

.content{
  background-color: #a5c6e2;
  grid-area: content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.mainBlock {
    height: fit-content;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0073C7;
    border-style: solid;
    border-radius: 15px;
    gap:20px;
}

.footer{
  grid-area: foot;
  width: 100vw;
}

@media print{
  @page {
    margin: 0;
    /* Removes default header/footer */
    size: auto;
  }

  #root{
    display: block;
  }

  .header, .footer {
    display: none !important;
  }
}

@media screen and (orientation: portrait) {
  html, body{
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
  }

  #root{
    min-height: 100%;
    display: grid;
    grid-template-areas: 
      "head"
      "content"
      "foot";
    grid-template-rows: 100px 1fr 60px;
  }

  .content {
    padding: 20px 10%;
    width: 100%;
  }
}
/*#root{
  min-height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}*/

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/