.info {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  color: var(--app-text-color);
  background-color: var(--page-background);
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  border-top-left-radius: 0;
  padding: 10px 10px;
  cursor: default;
  z-index: 5;

  .bg {
    background-color: var(--page-background-inside);
    padding: 10px;
    border-radius: 8px;

    .fileSection {
      margin-top: 20px;

      .fileSectionTitle {
        text-align: center;
        margin-bottom: 10px;
      }

      .fileList {
        width: 70%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        color: aliceblue;
        text-decoration: none;

        .fileItem {
          background-color: #076ab1;
          display: flex;
          justify-content: space-between;
          padding: 10px;
          cursor: pointer;
          margin: 5px 0;
          border: 1px solid black;
          border-radius: 5px;
          &:hover {
            background-color: #0062a8;
          }

          .fileSize {
            color: #dbdbdb;
            font-size: 0.9em;
          }
        }

        .frame {
          margin-top: 20px;
          background: #fff;
        }

        .uploadArea {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0;

          .uploadListText {
            &:global(.ant-upload-list-text) {
              width: 100%;
            }
            & :global(.ant-upload-list-item-name) {
              color: aliceblue;
              text-decoration: none;
            }
            .uploadAreaText {
              color: aliceblue;
            }
          }
        }
      }
    }

    .buttonsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      gap: 10px;
    }

    .items {
      max-width: 100%;
      min-width: 300px;
      width: fit-content;
      margin-bottom: 20px;
    }
  }
}

.graphContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 7px;
  background: #eef3f6;
  border-radius: 8px;

  .inputfield {
    width: 60px;
    padding: 5px;
    font-size: 0.8em;
  }
}

.collapseContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.graphTableTitle {
  cursor: default;
}

.itemsTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }

  * {
    color: black !important;
  }

  body {
    margin: 0;
    padding: 0;
    background: white;
    font-size: 12pt;
  }

  .resultsContainer {
    width: 100%;
    max-width: 210mm; /* Standard A4 width */
    margin: 0 auto;
    padding: 0mm; /* 15mm Standard print padding */
  }

  .bg {
    border: none;
  }

  .info {
    width: 100%;
  }

  h2,
  .buttonsContainer {
    display: none !important;
  }

  .resultsContainer,
  .info,
  .bottomForms,
  .topFormsA,
  .topFormsB,
  .topFormsC {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
  }

  .topForms {
    border: 1px solid black;
    padding: 20px;
  }

  .title {
    font-size: 11px !important;
  }

  span {
    font-size: 10px !important;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
  }

  img {
    display: none !important;
  }
}

@media screen and (orientation: portrait) {
  body {
    width: 100vw;
  }

  .bg {
    padding: 5px;
  }

  h2 {
    margin-bottom: 10px;
  }

  .resultsContainer {
    min-width: 0;
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .info {
    width: 100%;
    padding: 5px;
    border-top-right-radius: 0;
  }

  .bg {
    width: 100%;
    padding: 10px;
  }

  .title {
    font-size: 0.9em;
  }

  .topForms {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .items {
    max-width: 100%;
    min-width: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .collapseContainer {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 2px;
  }

  .graphContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
  }

  .graph {
    flex-grow: 1;
    width: 100%;
  }

  .itemsTable {
    max-width: 100%;
    width: 300px;
    border-collapse: collapse;
    font-size: 14px;
  }
}

@media screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1224px) {
  .info {
    width: calc(100% - 40px) !important;
    @include flex-center;

    .bg {
      width: calc(100% - 20px) !important;
    }
  }
}
