# YAML config files
*.yaml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node
client/node_modules
server/node_modules

# Build
client/dist/*
!client/dist/manifest.webmanifest

# Environment
client/.env*
server/.env*

# Storybook
client/.storybook
client/*storybook.log
client/storybook-static
client/src/stories
client/src/components/stories

# Server specific
server/DB_Backup