# git pull && docker compose build --pull && docker compose up -d --remove-orphans

services:
  backend:
    build: ./server
    container_name: backend
    restart: unless-stopped
    env_file:
      - ./server/.env
    environment:
      - NODE_ENV=production
    expose:
      - "5000"

  frontend:
    build: ./client
    container_name: frontend
    restart: unless-stopped

  nginx:
    user: "0:0"
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443" # certs
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/volmed.conf:ro
      - ./ssl:/etc/nginx/ssl:ro
    depends_on:
      - frontend
      - backend

#   db:
#     image: postgres:16
#     restart: unless-stopped
#     environment:
#       POSTGRES_PASSWORD: your_secret
#       POSTGRES_DB: pren_db
#     volumes:
#       - pgdata:/var/lib/postgresql/data
#     expose:
#       - 5432

# volumes:
#   pgdata: