.info {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    color: aliceblue;
    background-color: #0086e6;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    border: solid, black, 2px;
    border-radius: 10px;
    border-top-left-radius:0;
    padding: 10px 10px;
    cursor: default;
}

.bg{
    background-color: #0075c9;
    padding: 20px;
    border-radius: 8px;
    border: solid, black, 1px;
}

.listContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: aliceblue;
  background-color: #0065ad;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0;
}

.table {
  background-color: #006fbe;
  width: 100%; 
  table-layout: fixed;
}

.table:hover{
  transition: all 0.3s;
  background-color: #006ab6;
}

.rows{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

hr{
    margin: 5px;
}

data:nth-child(1){
    width: 20%;
}

data:nth-child(2){
    width: 30%;
}

data:nth-child(3){
    width: 15%;
}

data:nth-child(4){
    width: 10%;
}

@media screen and (orientation: portrait) {
    .info{
        width: 100%;
        padding: 5px;
    }

    .bg{
        width: 100%;
        padding: 10px 5px;
    }

    .listContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: aliceblue;
        background-color: #0065ad;
        padding: 10px;
        border-radius: 5px;
        margin: 0;
    }

    .table {
        background-color: #0065ad;
        width: 100%; 
        table-layout: fixed;
    }

    .rows{
        display: flex;
        flex-direction: column;
        background-color: aliceblue;
        color: #000;
        border-radius: 6px;
        padding: 10px;
    }

    hr{
        margin: 10px;
    }

    th{
        display: none;
    }

    td {
        font-weight: 600;
    }

    tr td:nth-child(1){
        width: 100%;
        font-size: 1em;
    }

    tr td:nth-child(2){
        width: 100%;
        font-size: 1.5em;
    }

    tr td:nth-child(3){
        width: 100%;
        font-size: 1em;
    }

    tr td:nth-child(4){
        width: 100%;
        font-size: 1em;
    }

    /* tr td:nth-child(1){
        font-size: 1em;
    }

    tr td:nth-child(2){
        font-size: 1.2em;
    }

    tr td:nth-child(3),
    tr td:nth-child(4){
        font-size: 1em;
    } */

    tr td{
        font-size: 0.7em;
    }
}