.mainBlock {
  width: 90%;
  max-width: 800px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  background-color: var(--main-block);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 6px 6px 18px -10px black;

  .title {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    font-weight: 800;
    font-size: 1.5em;
    justify-content: center;
    margin: 10px;
    text-align: center;
  }
}
@media screen and (orientation: portrait) {
  .title {
    font-size: 1.2em;
  }
}
