.textInput {
  margin-top: 5px;
  font-size: 1.1em;
}

.row {
  height: 100%;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  .logoBlockContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.5fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 50%;
    font-weight: 600;
    font-size: 1.3em;
    grid-column: span 2 / span 2;
    .image {
      margin-top: 10px;
      max-height: 100px;
      border-radius: 8px;
    }
    .imageButton {
      display: flex;
      margin-top: 20px;
      width: 100%;
      font-size: 10px;
    }
  }

  .blocksColorContainer {
    align-items: center;
    font-weight: 600;
    font-size: 1.3em;
    width: 100%;
    grid-column-start: 3;
    grid-row-start: 1;
    border-left: 1px solid #a2a2a2;
    padding: 0 10px;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);

    .paletteTitle {
      text-align: center;
    }
    .colorBlocks {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: left;
      text-align: center;
      font-weight: 300;
      font-size: 0.7em;
      &:first-child {
        margin-top: 10px;
      }
      &:not(:first-child) {
        margin-top: 5px;
      }
      .colorPicker {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-bottom: 10px;
      }
    }
  }

  .themeColorContainer {
    align-items: center;
    font-weight: 600;
    font-size: 1.3em;
    width: 100%;
    grid-column-start: 4;
    grid-row-start: 1;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;

    .themeTitle {
      text-align: center;
    }
    .themePicker {
      width: 100%;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

@media screen and (orientation: portrait) {
  .row {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.8fr 1fr 0.5fr;

    .logoBlockContainer {
      grid-row: 1;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-template-rows: 0.5fr 1fr 0.5fr;
    }
    .blocksColorContainer {
      border: none;
      grid-row: 2;
      grid-column: 1;
    }
    .themeColorContainer {
      grid-row: 3;
      grid-column: 1;
      grid-template-rows: repeat(3, 1fr);
    }
  }
  .textInput {
    font-size: 1em;
  }
}
