.button{
    background: #f0ffff;
    color: #000;
    margin:  5px 10px;
    box-sizing: border-box;
    width: fit-content;
    padding: 8px 14px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover{
    transition: all 0.2s;
    color:#1677ff;
    border: 2px solid #1677ff;
}

.button:disabled,
.button.loading{
    cursor: wait;
    opacity: 0.7;
    background: #a4a4a4;
}

.button-text{
    font-style: normal;
    line-height: 1;
}

/* SHAPE */
.button.circle{
    min-width: 38px;
    min-height: 38px;
    border-radius: 50%;
}

@media screen and (orientation: portrait) {
    .button{
        font-size: 1em;
        padding: 5px 8px;
    }
}