.button {
  background: aliceblue;
  color: #000;
  margin: 5px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border-width: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 1px 1px 3px 1px #374960;
  &:hover {
    transition: all 0.15s;
    color: #1677ff;
    box-shadow: none;
  }
  &:active {
    color: #1677ff;
    // border: 2px solid #1677ff;
    background-color: #cfeffe;
  }
  &:focus {
    outline: none;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.8;
    background: #b4b4b4;
    &.loading {
      cursor: wait;
    }
  }
  &.loading {
    cursor: wait;
    opacity: 0.8;
    background: #b4b4b4;
  }

  &.button-text {
    font-style: normal;
    /* line-height: 1; */
  }

  /* SHAPE */
  &.circle {
    min-width: 38px;
    min-height: 38px;
    border-radius: 50%;
    padding: 0;
  }

  /* SIZE */
  &.s {
    width: fit-content;
    padding: 4px 7px;
    font-size: 11px;
  }
  &.m {
    width: fit-content;
    padding: 5px 10px;
    font-size: 13px;
  }
  &.l {
    width: fit-content;
    padding: 6px 12px;
    font-size: 15px;
  }
  &.xl {
    width: fit-content;
    padding: 10px 15px;
    font-size: 17px;
  }
}

@media screen and (orientation: portrait) {
  .button {
    font-size: 1em;
    padding: 5px 8px;

    &.button-text {
      margin: 0;
    }

    /* SIZE */
    &.s {
      width: fit-content;
      padding: 4px 7px;
      font-size: 11px;
    }
    &.m {
      width: fit-content;
      padding: 5px 10px;
      font-size: 13px;
    }
    &.l {
      width: fit-content;
      padding: 6px 12px;
      font-size: 15px;
    }
    &.xl {
      width: fit-content;
      padding: 10px 15px;
      font-size: 17px;
    }
  }
}
