.input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;

  &--search {
    .input {
      padding-right: 40px;
    }
  }
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  border-radius: 10px;
  border-width: 0;
  font-size: 15px;
  transition: all 0.3s ease;
  outline: none;

  &:hover:not([type="search"]) {
    box-shadow: 0px 0px 2px 2px #1890ff;
  }

  &::placeholder {
    align-items: center;
  }

  &:focus::placeholder {
    opacity: 0;
  }

  &:disabled {
    background-color: #f5f5f5;
    color: #999;
    cursor: not-allowed;
  }

  &.input--loading {
    padding-right: 35px;

    &.input--loading-left {
      padding-left: 35px;
      padding-right: 12px;
    }
  }
  &[type="search"] {
    padding: 0 50px;
  }
}

.input-search-button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  cursor: pointer;
  transition: background 0.1s;
  &:hover {
    background: #4096ff;
    box-shadow: 0px 0px 4px 1px #4096ff;
    color: #fff;
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.input-loader {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;

  &--left {
    left: 10px;
  }

  &--right {
    right: 10px;
  }
}

.input-loader-spinner {
  width: 16px;
  height: 16px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #1890ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
