.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.mainBlock {
  height: fit-content;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0073c7;
  border-style: solid;
  border-radius: 15px;
}

.loadingTitle {
  text-align: center;
  color: aliceblue;
  font-weight: bold;
  margin: 30px 50px;
}

.loadingImg {
  height: 50px;
  display: block;
  margin: 20px auto;
}
