.menuContainer{
    display: flex;
    width: 100%;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    gap:0;
    max-width: 100%;
    box-sizing: border-box;
}

.menuCard{
    border: 2px solid black;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    padding: 4px 15px;
    background-color: #0073c7;
    cursor: pointer;    
    border-right: none;
    box-sizing: border-box;
    min-width: 0;
}

.menuCard:last-child {
    border-right: 2px solid black;
}

.menuCard:hover{
    background-color: #0067b1;
}

.menuCard.active{
    background-color: #0086e6;
    border-color: black;
    margin-bottom: -3px;
    z-index: 2;
    position: relative;
}

@media print{
    .menuContainer{
        display: none;
    }
}

@media screen and (orientation: portrait) {
    h3{
        font-size: 0.9em;
        line-height: 10px;
    }

    .menuContainer{
    }

    .menuCard{
        min-width: 0;
        padding: 7px;
    }
    
}