.menuContainer {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 0;
  width: 100%;
  box-sizing: border-box;

  .menuCard {
    position: relative;
    background-color: var(--tab-background);
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    padding: 4px 15px;
    border-right: none;
    box-sizing: border-box;
    min-width: 0;
    z-index: 1;
    color: var(--app-text-color);
    cursor: pointer;
    box-shadow: 5px 0px 6px -4px black;
    &:hover {
      background-color: var(--tab-background-hover);
      transform: translateY(1px);
      box-shadow:
        0px -1px 1px 0px #000000 inset,
        0px 4px 6px 0px black;
    }
    // Clicked and not the current
    &:active:not(.active) {
      background-color: var(--tab-background-clicked) !important;
    }

    // Current
    &.active {
      background-color: var(--tab-background-active);
      border-color: black;
      margin-bottom: -2px;
      transform: none;
      z-index: 4 !important;
    }
    // 1st tab when not active
    &:first-child {
      box-shadow: 0px 4px 6px 0px black;
      z-index: 3;
      &:not(.active) {
        box-shadow:
          0px -1px 1px 0px #000000 inset,
          0px 4px 6px 0px black;
      }
    }
    //The 2nd tab not activated
    &:nth-child(2) {
      box-shadow: 0px 4px 6px 0px black;
      z-index: 2;
      &:nth-child(2):not(.active) {
        box-shadow:
          0px -1px 1px 0px #000000 inset,
          0px 4px 6px 0px black;
      }
    }
    &:last-child {
      box-shadow: 0px 4px 6px 0px black;
      &:last-child:not(.active) {
        box-shadow:
          0px -1px 1px 0px #000000 inset,
          0px 4px 6px 0px black;
      }
    }
  }
}

@media print {
  .menuContainer {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  h3 {
    font-size: 0.9em;
    line-height: 10px;
  }

  .menuContainer {
    .menuCard {
      min-width: 0;
      flex: 1 1 100%;
      max-width: 100%;
      padding: 7px;
      text-align: center;
      &.active {
        margin-bottom: -5px !important;
        &:not(:first-child) {
          height: 35px;
        }
      }
    }
  }
}

@media screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1224px) {
  .menuContainer {
    width: calc(100% - 40px);
  }
}
