.menuContainer {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 0;
  width: 100%;
  box-sizing: border-box;

  .menuCard {
    position: relative;
    background-color: #0073c7;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    padding: 4px 15px;
    border-right: none;
    box-sizing: border-box;
    min-width: 0;
    z-index: 1;
    color: aliceblue;
    cursor: pointer;
    box-shadow: 5px 0px 6px -4px black;

    &:hover {
      background-color: #0067b1;
      transform: translateY(1px);
    }
    //When clicked
    &:active {
      background-color: #005796 !important;
    }

    &.active {
      background-color: #0086e6;
      border-color: black;
      margin-bottom: -2px;
      transform: none;
      z-index: 4 !important;
      &:not(:first-child) {
        box-shadow: 0px 4px 6px 0px black;
      }
    }
    &:first-child:not(.active) {
      z-index: 3;
    }
    &:nth-child(2) {
      // transform: translate(10px, 15px);
      z-index: 2;
    }
  }
}

@media print {
  .menuContainer {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  h3 {
    font-size: 0.9em;
    line-height: 10px;
  }

  .menuContainer {
    .menuCard {
      min-width: 0;
      flex: 1 1 100%;
      max-width: 100%;
      padding: 7px;
      text-align: center;
      &.active {
        margin-bottom: -5px !important;
        &:not(:first-child) {
          height: 35px;
        }
      }
    }
  }
}
