.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  background-color: #0065ad;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0;
}

.table {
  width: 100%; 
  table-layout: fixed;
}

.table:hover{
  transition: all 0.3s;
}

.head .rows{
  display: flex;
  background-color: #0065ad;
}

.skeleton{
  margin-bottom: 10px;  
}

.skeletonItem {
  margin-bottom: 10px;
  width: 100%;
}

.tbody{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rows{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #006fbe;
}

.rows:hover{
  transition: all 0.3s;
  background-color: #006ab6;
}

.rowsLoading{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #006fbe;
  padding: 5px 10px;
  overflow: hidden;
}

.rowsLoading td{
  flex: 1;
}

  
.react-loading-skeleton {
  animation: pulse 1.5s ease-in-out infinite;
  color:#488ab9;
}
  
@keyframes pulse {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}

.first,
.second,
.third{
  display: flex;
  cursor: default;
}

.first{
  flex: 0.6;
}

.second{
  flex: 2;
}

.third{
  flex: 0.8;
}

.noData {
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
  color: aliceblue;
  font-size: 1em;
  border-radius: 5px;
  background: #006fbe;
}

.countContainer{
  background-color: #0073C7;
  color: aliceblue;
  cursor: default;
}

@media screen and (orientation: portrait) {
  .head .rows{
    font-size: 0.8em !important;
  }

  .tdLoad:nth-child(1){
    padding: 5px;
  }

  .tbody .rows{
    display: flex;
    align-items: center;
  }

  .first{
    flex: 0.3;
    font-size: 0.8em !important;
  }

  .second{
    font-size: 1em !important;
  }

  .third{
    flex: 0.8;
    font-size: 0.8em !important;
  }
}