.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  background-color: #0065ad;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0;
}

.table {
  width: 100%; 
  table-layout: fixed;
}

.table:hover{
  transition: all 0.3s;
}

.head .rows{
  display: flex;
  text-align: center;
  background-color: #0065ad;
}

.tbody{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rows{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #006fbe;
  cursor: default;
  align-items: center;
}

.rows:hover{
  transition: all 0.3s;
  background-color: #006ab6;
}

.rowsLoading{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #006fbe;
  padding: 5px 10px;
  overflow: hidden;
}

.rowsLoading td{
  flex: 1;
}
  
.react-loading-skeleton {
  animation: pulse 1.5s ease-in-out infinite;
  color:#488ab9;
}
  
@keyframes pulse {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}

.rows th:nth-child(1),
.rows td:nth-child(1){
  flex: 0.2;
  text-align: center;
}

.rows th:nth-child(2),
.rows td:nth-child(2){
  flex: 1;
}

.rows th:nth-child(3),
.rows td:nth-child(3){
  flex: 0.5;
  text-align: center;
}

.rows th:nth-child(4),
.rows td:nth-child(4){
  flex: 0.5;
  text-align: center;
}

.rows th:nth-child(5),
.rows td:nth-child(5){
  flex: 0.5;
  text-align: center;
}

.stable { 
  height: fit-content;
  width: fit-content;
  background-color: #4caf50bf; 
  border-radius: 4px;
  padding: 5px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
} 

.critical { 
  height: fit-content;
  width: fit-content;
  background-color: #f44336bf; 
  border-radius: 6px;
  padding: 5px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.leave { 
  height: fit-content;
  width: fit-content;
  background-color: #ffffffbf; 
  color: #000;
  border-radius: 6px;
  padding: 5px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
} 

.noData {
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
  color: aliceblue;
  font-size: 1em;
  border-radius: 5px;
  background: #006fbe;
}

.skeleton{
  margin-bottom: 10px;  
}

.skeletonItem {
  margin-bottom: 10px;
  width: 100%;
}

.countContainer{
  background-color: #0073C7;
  color: aliceblue;
  cursor: default;
}

@media screen and (orientation: portrait) {
  .container{
    margin: 0;
  }

  .table:hover{
    transition: all 0.25s;
  }
  
  .head .rows{
    display: none;
  }

  .tdLoad:nth-child(1){
    padding: 5px;
  }

  .tbody .rows{
    display: flex;
    flex-direction: column;
  }

  .rows{
    background-color: aliceblue;
    color: #000;
    border-radius: 6px;
    font-weight: 500;
    align-items: flex-start;
    gap: 5px;
  }

  .rows th:nth-child(1),
  .rows td:nth-child(1){
    flex: 0.3;
    font-size: 0.8em !important;
    text-align: start;
  }

  .rows th:nth-child(2),
  .rows td:nth-child(2){
    font-size: 1.2em !important;
  }

  .rows th:nth-child(3),
  .rows td:nth-child(3){
    flex: 0.8;
    font-size: 0.8em !important;
    text-align: start;
  }

  .rows th:nth-child(4),
  .rows td:nth-child(4){
    flex: 0.7;
    font-size: 0.8em;
    text-align: start;
  }

  .rows th:nth-child(5),
  .rows td:nth-child(5){
    flex: 0.5;
  }

  .leave{
      background-color: #86e5ffbf; 
  }
}