.container {
  display: flex;
  width: 445px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: aliceblue;
  text-align: center;
}

.searchtitle {
  font-size: 25px;
  font-weight: 700;
  color: aliceblue;
  margin-bottom: 5px;
}

.space {
  width: 32px;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  color: aliceblue;
  width: 100%;
}

input::placeholder {
  text-align: center;
}

.submit {
  cursor: pointer;
  width: fit-content;
  padding: 6px 10px;
  font-size: 15px;
  border-radius: 30px;
  border: 1px solid black;
}

@media screen and (orientation: portrait) {
  .container {
    margin: 10px;
    width: 100%;
    min-width: 350px;
  }

  .searchtitle {
    font-size: 1.2em;
  }

  .space {
    width: 0px;
  }

  .searchButton {
    width: 35px;
    height: 35px;
  }
}
