.container {
  display: flex;
  width: 445px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: aliceblue;
  text-align: center;

  .searchtitle {
    font-size: 25px;
    font-weight: 700;
    color: aliceblue;
    margin-bottom: 5px;
    cursor: default;
    user-select: none;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  search {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    width: 85%;

    .searchfield {
      &::placeholder {
        text-align: center;
      }
      &:focus-visible {
        border-width: 0;
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .container {
    margin: 10px;
    width: 100%;
    min-width: 350px;

    .searchtitle {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
  }
}
