.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: aliceblue;
  background-color: #0065ad;
  padding: 5px;
  border-radius: 5px;
}

.skeleton{
  margin-bottom: 10px;  
}

.skeletonItem {
  margin-bottom: 10px;
  width: 100%;
}

.rows{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 10px;
}

.rowsLoading{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
  
.react-loading-skeleton {
  animation: pulse 1.5s ease-in-out infinite;
  color:#488ab9;
}
  
@keyframes pulse {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}

.table {
  background-color: #006fbe;
}

.table:hover{
  transition: all 0.3s;
  background-color: #006ab6;
}

.head{
  display: flex;
  flex:1;
  background-color: #0065ad;
}

.first{
  display: flex;
  align-items: center;
  flex: 0.6;
}

.second{
  display: flex;
  align-items: center;
  flex: 2;
}

.third{
  display: flex;
  align-items: center;
  flex: 0.8;
}

.noData {
  padding: 20px;
  text-align: center;
  color: aliceblue;
  font-size: 1em;
  border-radius: 5px;
  background: #006fbe;
}

.countContainer{
  background-color: #0073C7;
  color: aliceblue;
  cursor: default;
}

@media screen and (orientation: portrait) {
  th{
    font-size: 0.7em;
  }

  .first{
      flex: 0.3;
  }

  .second{
      flex: 1;
  }
}