button{
    background: #f0ffff;
    color: #000;
    margin-top: 10px;
    margin: 0 5px;
    border-radius: 15px;
    padding: 5px 10px;
}

.editTable{ 
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    max-width: 500px;
}
