@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(fonts/Montserrat.ttf) format('ttf');
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    width: 100%;
    min-width: 551px;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #61bdff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    height: fit-content;
    width: 100%;
    margin: 0;
    column-gap: 0px;
    padding: 10px ;
    justify-content: center;
    align-items: center;
    background-color: #187dc5;
}

#logo {
    align-content: center;
    justify-content: center;
    height: 100px;
    margin: 0 25px;
}

#headTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    min-width: 110px;
    height: fit-content;
    margin: 5px 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 25%;
    padding-right: 25%;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    min-width: 450px;
    max-width: 450px;
    padding: 3% 7%;
    background-color: #0073C7;
    border-style: solid;
    border-radius: 15px;
    
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}

#searchtitle {
    font-size: 25px;
    font-weight: 700;
    color: aliceblue;
}

#searchfield {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    gap: 5px;
    height: 40px;
    border-radius: 45px;
    padding-left: 20px;
    font-size: 15px;
}

#submit {
    cursor: pointer;
    width: fit-content;
    padding: 6px 10px;
    font-size: 15px;
    border-radius: 30px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    font-size: 24px;
    margin-bottom: 10px;
}

p{
    height: fit-content;
    margin: 0;
}

#regbut, #list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}

#preloader{
    background: black url(../imgs/preloader.gif) no-repeat center center;
    opacity: 0.4;
    background-size: 5%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

