.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;

  .mainBlock {
    padding: 15px 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0073c7;
    border-style: solid;
    border-radius: 15px;

    h2 {
      margin: 0 0 10px 0;
      color: aliceblue;
      font-weight: 700;
    }

    form {
      width: 100%;
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        color: aliceblue;
      }

      .error {
        color: red;
        margin-bottom: 10px;
      }

      input.error {
        border: 1px solid red;
      }

      .buttonContainer {
        display: flex;
        justify-content: center;
      }
    }
  }
}
