.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .mainBlock {
    min-width: fit-content;
    max-width: calc(100vw - 20%);
    box-sizing: border-box;
    height: fit-content;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-block);
    border-radius: 15px;
    box-shadow: 6px 6px 18px -10px black;
    h2 {
      margin-bottom: 10px;
      color: aliceblue;
      font-weight: 700;
      user-select: none;
    }

    .error {
      color: red;
      margin-bottom: 10px;
      font-weight: 700;
      text-shadow:
        1px 0 0 #000,
        0 -1px 0 #000,
        0 1px 0 #000,
        -1px 0 0 #000;
    }

    form {
      width: 100%;
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        color: aliceblue;
      }

      input.error {
        border: 1px solid red;
      }

      .buttonContainer {
        display: flex;
        justify-content: center;
      }
    }
  }
}
