.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;

  :global(.mainBlock) {
    padding: 10px 20px;
    width: 50%;
    h2 {
      color: aliceblue;
      font-weight: 700;
      user-select: none;
    }

    .error {
      color: red;
      margin-top: 10px;
      font-weight: 700;
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }

    form {
      width: 100%;
      margin: 10px 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        color: aliceblue;
      }

      input.error {
        border: 1px solid red;
      }

      .buttonContainer {
        display: flex;
        justify-content: center;
      }
    }
  }
}
