.table {
  display: inline-block;
  color: aliceblue;
  background-color: var(--table);
  padding: 5px 2px 5px 6px;
  border-radius: 5px;
  margin: 35px 0 10px 0;
  overflow: auto;
  &:hover {
    transition: all 0.3s;
  }
  .head {
    .rows {
      padding: 5px 5px 10px 5px;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: minmax(50px, 0.5fr) // #
        minmax(190px, 2.8fr) // ФИО
        minmax(70px, 0.7fr) // Возраст
        minmax(50px, 0.5fr) // Пол
        minmax(100px, 1.1fr) // Дата
        minmax(110px, 1.3fr) // Отделение/Палата
        minmax(120px, 1.6fr) // Врач
        minmax(160px, 2.4fr) // Диагноз
        minmax(175px, 1.6fr) // Состояние
        minmax(150px, 1.8fr); // Риски/Аллергии
      background-color: var(--table);
      align-items: center;
      text-align: center;
      th {
        font-size: 0.8rem;
      }
    }
  }

  .tbody {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-bottom: 2px;

    .rowsLoading {
      display: flex;
      width: 100%;
      justify-content: space-between;
      background-color: var(--table-rows);
      padding: 5px 10px;
      overflow: hidden;
      border-radius: 3;
      td {
        flex: 1;
      }
    }

    .rows {
      width: fit-content;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: minmax(50px, 0.5fr) // #
        minmax(190px, 2.8fr) // ФИО
        minmax(70px, 0.7fr) // Возраст
        minmax(50px, 0.5fr) // Пол
        minmax(100px, 1.1fr) // Дата
        minmax(110px, 1.3fr) // Отделение/Палата
        minmax(120px, 1.6fr) // Врач
        minmax(160px, 2.4fr) // Диагноз
        minmax(175px, 1.6fr) // Состояние
        minmax(150px, 1.8fr); // Риски/Аллергии
      padding: 5px;
      align-items: center;
      border-radius: 3px;
      background-color: var(--table-rows);
      cursor: default;
      &:hover {
        transition: all 0.3s;
        background-color: var(--table-rows-hover);
      }
      &:active {
        transition: all 0.3s;
        background-color: var(--table-rows-active);
      }

      td {
        // font-size: 0.8rem;
        padding: 4px 8px;
        font-size: 0.81rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        &:first-child {
          position: relative;
        }
        &:nth-child(2) {
          text-align: start;
          white-space: normal;
          word-break: normal;
          hyphens: auto;
        }
        &:nth-child(7) {
          white-space: normal;
          word-break: normal;
          hyphens: auto;
        }
        &:nth-child(8) {
          white-space: normal;
          word-break: normal;
          hyphens: auto;
        }
        &:nth-child(9) {
          height: 100%;
          align-content: center;
          font-weight: 700;
          font-size: 0.85em;
          box-sizing: border-box;
          border-radius: 6px;
          white-space: normal;
          word-break: break-word;
          &.stable {
            background-color: var(--state-stable);
            color: #212121;
          }
          &.moderate {
            background-color: var(--state-moderate);
            color: #000;
          }
          &.severe {
            background-color: var(--state-severe);
            color: #000;
          }
          &.critical {
            background-color: var(--state-critical);
            color: #000;
          }
          &.leave {
            background-color: var(--state-leave);
            color: #000;
            box-shadow: 0 0 0 1px #4fc3f7 inset;
          }
        }
      }
    }

    .noData {
      display: flex;
      justify-content: center;
      padding: 20px;
      text-align: center;
      color: aliceblue;
      font-size: 1em;
      border-radius: 6px;
      background: var(--table-rows);
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.react-loading-skeleton {
  animation: pulse 1.5s ease-in-out infinite;
  color: #488ab9;
}

.skeleton {
  margin-bottom: 10px;
}
.skeletonItem {
  margin-bottom: 10px;
  width: 100%;
}

.countContainer {
  color: aliceblue;
  cursor: default;
  position: relative;

  span {
    margin-right: 5px;
    font-size: 0.85em;
  }

  .tooltipBox {
    position: absolute;
    top: 130%;
    background: #141e32f2;
    color: #fff;
    padding: 7px 0px;
    border-radius: 10px;
    min-width: 165px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    box-shadow: 0 2px 10px #00000040;
    font-size: 0.8em;
    opacity: 0;
    animation: fadeIn 0.3s ease-in forwards;
    display: flex;
    justify-content: space-evenly;

    ul {
      list-style: none;
      margin: 6px 0 0;
      padding: 0;

      li {
        margin: 2px 0;
        padding: 2px 0;
        border-bottom: 1px solid #ffffff1a;
      }
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media screen and (orientation: portrait) {
  .table {
    padding: 5px;
    &:hover {
      transition: all 0.25s;
    }

    .head {
      .rows {
        display: none;
      }
    }

    .tbody {
      gap: 10px;
      .rows {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 5px;
        background-color: aliceblue;
        color: #000;
        border-radius: 6px;
        font-weight: 500;
        align-items: center;
        position: relative;
        &:hover {
          transition: all 0.2s;
          background-color: var(--mobile-table-row-hover);
          color: black;
        }
        &:active {
          transition: all 0.2s;
          background-color: var(--mobile-table-row-active);
          color: aliceblue;
        }

        td {
          &:nth-child(2) {
            // ФИО
            grid-column: 1;
            grid-row: 1;
            font-size: 1.1em !important;
          }
          &:nth-child(4) {
            // Sex
            grid-column: 2;
            grid-row: 1;
            padding-left: 5px;
            flex: 0.7;
            font-size: 0.8em;
            place-self: center;
          }
          &:nth-child(1) {
            // ID
            text-align: left;
            grid-column: 1;
            grid-row: 2;
            left: 5px;
            font-size: 0.9em !important;
            font-weight: 700;
            &::before {
              content: "№";
            }
          }
          &:nth-child(6) {
            // Room
            grid-column: 2;
            grid-row: 2;
            padding-left: 5px;
            flex: 0.7;
            font-size: 0.8em;
            text-align: start;
            &::before {
              content: "Палата: ";
            }
          }
          &:nth-child(3) {
            // Age
            grid-column: 2;
            grid-row: 3;
            flex: 0.8;
            font-size: 0.8em !important;
            text-align: start;
            &::before {
              content: "Возраст: ";
            }
          }
          &:nth-child(5) {
            // Created at
            grid-column: 1;
            grid-template-rows: 3;
            text-align: start;
            &::before {
              content: "Поступление: \A";
              white-space: pre;
              display: block;
            }
          }
          &:nth-child(7) {
            // doctor
            grid-column: 1 / span 2;
            grid-row: 4;
            text-align: left;
          }
          &:nth-child(8) {
            // diag
            grid-column: 1 / span 2;
            grid-row: 5;
            text-align: start;
          }
          &:nth-child(10) {
            // Allergy
            grid-column: 1 / span 2;
            grid-row: 6;
            text-align: start;
          }
          &:nth-child(9) {
            // State
            grid-column: 1 / span 2;
            grid-row: 7;
            height: 100%;
            place-self: center;
            &.stable,
            &.moderate,
            &.severe,
            &.critical,
            &.leave {
              width: 170px;
              height: 60px;
              padding: 8px 5px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              font-size: 0.8em;
            }
            &.leave {
              background-color: var(--mobile-state-leave) !important;
            }
          }
        }
      }
    }

    .tdLoad:nth-child(1) {
      padding: 5px;
    }
  }
}
