.container {
  border: 1px solid black;
  height: 350px;
  width: 200px;
  position: relative;
  background: #ffffffaa;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 5px;

  .screen {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 5px;
    overflow-y: scroll;

    .messageRows {
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      margin-right: 5px;

      .generalInfo {
        display: flex;
        flex-direction: column;
        margin: 5px;

        .info {
          font-size: 0.7em;
          font-weight: 600;
          width: 100%;
          overflow-wrap: break-word;
        }
      }

      .messageBox {
        font-size: 0.6em;
        margin-top: 5px;
        padding: 3px;
        border-radius: 4px;
        word-break: break-word;
      }
    }
  }

  .messageInputs {
    display: flex;

    .input {
      height: 25px;
      font-size: 0.7em;
    }

    .button {
      width: 40px;
      height: 20px;
      padding: 5px;
      font-size: 0.6em;
      margin: 3px;
      vertical-align: middle;
    }
  }

  .roomInputs {
    display: flex;
    margin-top: 5px;
    align-items: center;

    .input {
      height: 25px;
      font-size: 0.7em;
    }

    .button {
      width: 40px;
      height: 20px;
      padding: 5px;
      font-size: 0.6em;
      margin: 3px;
      vertical-align: middle;
    }
  }
}

.adminContainer {
  display: flex;

  .leftSide {
    background: #bbb;
    width: fit-content;
    border-right: 1px solid #ccc;
    border-radius: 8px 0 0 8px;
    padding: 10px;

    .title {
      font-size: 1em;
      font-weight: 700;
      margin-bottom: 10px;
      user-select: none;
    }
  }

  .rightSide {
    background: #bbb;
    width: fit-content;
    max-width: 400px;
    border-radius: 0 8px 8px 0;
    padding: 10px;

    .title {
      font-size: 1em;
      font-weight: 700;
      margin-bottom: 10px;
      width: fit-content;
    }

    .screen {
      font-size: 0.8em;
      margin-bottom: 10px;
      padding: 2px 5px;
      min-height: 200px;
      border-radius: 6px;

      .message {
        margin: 5px 0;
        word-break: break-word;

        .time {
          font-size: 0.7em;
          color: #aaa;
        }
      }
    }
  }
}
