.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: aliceblue;
  background-color: #0065ad;
  padding: 5px;
  border-radius: 5px;
}

.skeleton{
  margin-bottom: 10px;  
}

.skeletonItem {
  margin-bottom: 10px;
  width: 100%;
}

.rows{
  display: flex;
  padding: 5px 10px;
  width: 100%;
  justify-content: space-between;
}
  
.react-loading-skeleton {
  animation: pulse 1.5s ease-in-out infinite;
  color:#488ab9;
}
  
@keyframes pulse {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}

.table {
  background-color: #006fbe;
}

.head{
  display: flex;
  flex:1;
  background-color: #0065ad;
}

.countContainer{
  background-color: #0073C7;
  color: aliceblue;
  cursor: default;
}