.content {
  padding: 0 10px 0 20px;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  user-select: none;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.logo {
  cursor: pointer;
  height: calc(100% - 40px);
  padding: 0 10px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

.logoPrint {
  display: none;
}

.title {
  flex: 1 0.6 600px;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  font-size: 1.2em;
  font-weight: 600 !important;
  font-display: swap;
  text-align: left;
  padding: 0 5px;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  font-family: system-ui, -apple-system, sans-serif;
  will-change: transform;

  word-break: keep-all;
  white-space: normal;
}

.titlePrint {
  display: none;
}

.userContainer {
  min-width: 300px;
  float: right;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: none;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;

  .userNameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .userNameText {
      margin: 0 10px;
      text-align: center;
      color: aliceblue;
      font-weight: 500;
      cursor: default;
    }
  }
}

@media screen and (orientation: portrait) {
  .content {
    gap: 5px;
    padding: 0 10px;

    .logo {
      padding: 0;
    }

    .title {
      color: aliceblue;
      font-size: 0.75em;
      font-weight: 600 !important;
      text-align: left;
      margin: 0;
      flex-grow: 1;
      cursor: default;
    }

    .userContainerHidden {
      display: none;
    }

    .userContainer {
      height: fit-content;
      width: fit-content;
      min-width: fit-content;
      padding: 5px 0 5px 10px !important;
      border-radius: 13px;
      background-color: #3584c9;
      justify-content: start;
      box-shadow: 0 0 10px 5px #3584c9 !important;

      .userNameContainer {
        .userNameText {
          margin: 0;
          color: aliceblue;
          font-weight: 500;
          font-size: 0.7em;
          text-align: center;
        }
      }
      .authButton {
        margin: 0;
      }
    }
  }
}

@media print {
  .content {
    background-color: white !important;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      display: none;
    }

    .title {
      display: none;
    }

    .titlePrint {
      display: inline-block;
      text-align: center;
      position: relative;

      .titlePrintText {
        font-size: 1em !important;
        font-weight: 800 !important;
        margin: 0 2px;
      }
      .titleStreetPrint {
        font-size: 0.8em !important;
        font-weight: 300 !important;
      }
    }

    .userContainer {
      display: none;
    }
  }
}
