.content {
  padding: 0 10px 0 20px;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.logo {
  cursor: pointer;
  height: calc(100% - 40px);
  margin: 0 10px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

.logoPrint {
  display: none;
}

.title {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  font-size: 1.2em;
  font-weight: 600 !important;
  font-display: swap;
  text-align: left;
  margin: 0 5px;
  flex-grow: 1;
  cursor: default;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  font-family: system-ui, -apple-system, sans-serif;
  will-change: transform;
}

.titlePrint {
  display: none;
}

.userContainer {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: none;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  &.auth {
    // background-color: #3482c7;
    // box-shadow: 0px 0px 18px 11px#2d7cc2;
  }

  .userNameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .userNameText {
      margin: 0 10px;
      color: aliceblue;
      font-weight: 500;
      cursor: default;
    }
  }
}

@media screen and (orientation: portrait) {
  .content {
    gap: 5px;
  }

  .title {
    color: aliceblue;
    font-size: 0.75em;
    font-weight: 600 !important;
    text-align: left;
    margin: 0 5px;
    flex-grow: 1;
    cursor: default;
  }

  .userContainer {
    padding: 0;

    .userNameContainer {
      .userNameText {
        margin: 0 10px;
        color: aliceblue;
        font-weight: 500;
        font-size: 0.7em;
        text-align: center;
      }
    }
  }
}

@media print {
  .content {
    background-color: white !important;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      position: relative;
      left: 30px;
      cursor: pointer;
      height: calc(100% - 40px);
      margin: 0 10px;
      opacity: 1;
    }

    .title,
    .titleTop,
    .titleBottom {
      display: none;
    }

    .titlePrint {
      display: inline-block;
      text-align: center;
      position: relative;

      .titlePrintText {
        font-size: 1em !important;
        font-weight: 800 !important;
        margin: 0 2px;
      }
      .titleStreetPrint {
        font-size: 0.8em !important;
        font-weight: 300 !important;
      }
    }

    .userContainer {
      display: none;
    }
  }
}
