.rowsLoading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--table-row);
  padding: 5px 10px;
  overflow: hidden;
  border-radius: 3;
  td {
    flex: 1;
  }
}
