.list {
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;

  .searchbar {
    @include flex-center;
    flex-direction: column;
  }

  // .
  // ...
  // patientsList.module.scss
  // ...
  // .

  .counter {
    margin-left: 10px;
  }

  .buttonContainer {
    width: 100%;
    @include flex-center;
  }
}

@media screen and (orientation: portrait) {
  .list {
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    box-sizing: border-box;
  }

  .counter {
    margin: 10px;
  }

  .buttonContainer {
    margin: 10px 0;
  }
}
