.container {
  height: fit-content;
  width: 90%;
  max-width: 800px;
  box-sizing: border-box;
  background: #0073c7;
  border: 0px solid black;
  border-radius: 15px;
  margin: 20px 0;
}

.searchbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  box-sizing: border-box;
}

.counter {
  margin-left: 10px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (orientation: portrait) {
  .container {
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
  }

  .list {
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    box-sizing: border-box;
  }

  .counter {
    margin: 10px;
  }

  .buttonContainer {
    margin: 10px 0;
  }
}
