.container{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    background-color: rgb(75, 79, 82);
    color: #fff;
}
.footer{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: space-between;
}

@media screen and (orientation: portrait) {
    .footer{
        font-size: 1em;
    }
}