.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 10px 20px 20px 0 ;
    padding: 0;
}

.userDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel .userInfo{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap:5px;
    border: none;
    background-color: rgb(134, 181, 223);
    color: aliceblue;
    font-size: 0.7em;
    font-weight: 500;
}

.authForm{
    width: 100%;
}

.formGroup{
    width: fit-content;
}

.formGroup input{
    width: 100%;
}

.submitButton{
    margin-top: 10px;
}

.switchButton{
    margin: 10px 0;
}