.editTable{ 
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    max-width: 500px;
}

button{
    background: #f0ffff;
    color: #000;
    margin-top: 10px;
    margin: 0 5px;
    border-radius: 15px;
    padding: 5px 10px;
}

.homeButton{
    cursor: pointer;
    width: fit-content;
    padding: 6px 10px;
    font-size: 15px;
    border-radius: 10px;
}

.homeButton:hover{
    transition: all 0.2s ;
    color:#1677ff;
    border: 2px solid #1677ff;
}