table {
  width: 100%;

  tbody {
    width: inherit;

    .userRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;

      td {
        border: none;
        padding: 5px;
        &.nameCell {
          flex: 1 1 100%;

          .name {
            margin-right: 10px;
          }
        }
        &.actionCell {
          display: flex;
          gap: 10px;
          justify-content: space-between;
          flex: 1 1 100%;

          .select {
            padding: 5px 10px;
            border-radius: 6px;
            font-size: 0.8rem;
            width: fit-content;
            cursor: pointer;
            user-select: "none";
            &:disabled {
              cursor: not-allowed;
            }
          }
          button {
            flex-shrink: 0;
          }
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  table {
    .userRow {
      flex-wrap: nowrap;

      td {
        &.nameCell {
          flex: 1 1 33%;

          .name {
            margin-bottom: 5px;
          }
        }
        &.actionCell {
          flex: 1 1 33%;
          justify-content: flex-start;
        }
      }
    }
  }
}
