footer {
  padding: 5px;

  .content {
    width: 100%;
    padding: 20px 20px 20px 10px;
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: space-between;
    user-select: none;
  }
}
@media screen and (orientation: portrait) {
  footer {
    padding: 0;
    .content {
      font-size: 0.8em;
      padding: 0 10px !important;
    }
  }
}

@media screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1224px) {
  footer {
    .content {
      margin-left: 10px;
    }
    .right {
      margin-right: 20px;
    }
  }
}

@media print {
  footer {
    display: none;
  }
}
