footer {
  padding: 5px !important;

  .content {
    width: 100%;
    padding: 20px 20px 20px 10px;
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: space-between;
    user-select: none;
  }
}
@media screen and (orientation: portrait) {
  footer {
    padding: 0 !important;
    .content {
      font-size: 0.8em;
      padding: 0 10px !important;
    }
  }
}

@media print {
  footer {
    display: none;
  }
}
