.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.mainBlock {
    height: fit-content;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0073C7;
    border-style: solid;
    border-radius: 15px;
    gap:20px;
}

.buttonsContainer{
    display: flex;
    gap: 10px;
}

.backButton, .regButton{
    cursor: pointer;
    width: fit-content;
    padding: 6px 10px;
    font-size: 15px;
    border-radius: 10px;
}