.title {
  display: flex;
  flex-direction: row;
  color: aliceblue;
  font-weight: 800;
  font-size: 1.5em;
  justify-content: center;
  margin: 10px;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .title {
    font-size: 1.2em;
  }
}
