.resultsContainer {
    width: 90%;
    max-width: 1200px;
    padding: 20px 20px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    color: aliceblue;
    background-color: #0073C7;
    box-sizing: border-box;
    border: solid, black, 2px;
    border-radius: 10px;
}


.info {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    color: aliceblue;
    background-color: #0086e6;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    border: solid, black, 2px;
    border-radius: 10px;
    border-top-left-radius:0;
    padding: 10px 10px;
    cursor: default;
}

.bg{
    background-color: #0075c9;
    padding: 20px 40px;
    border-radius: 8px;
    border: solid, black, 1px;
}

.topForms {
    display: flex;
    gap: 10px;
    width: 100%;
}

.topFormsA, 
.topFormsB, 
.topFormsC {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-wrap: break-word;
}

.bottomForms{
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
}

span{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
}

.fileSection{
    margin-top: 20px;
}

.fileList{
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

.fileItem {
    background-color: #076ab1;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    margin: 5px 0;
    border-radius: 5px;
}

.fileItem:hover {
    background-color: #0062a8;    
}
  
.fileSize {
    color: #dbdbdb;
    font-size: 0.9em;
}

.uploadArea {
    margin: 20px 0;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;
}

.buttonsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
}

.updbut, .printbut, .backButton{
    cursor: pointer;
    margin: 5px;
    cursor: pointer;
    padding: 6px 10px;
    font-size: 15px;
    border-radius: 10px;
}

.updbut:hover, .backButton:hover, .printbut:hover {
    background-color: #e0e0e0;
}

@media print {
    @page {
        margin: 0;
        size: auto;
    }
        
    * {
        color: black !important;
    }

    body {
        margin: 0;
        padding: 0;
        background: white;
        font-size: 12pt;
    }

    .resultsContainer {
        width: 100%;
        max-width: 210mm; /* Standard A4 width */
        margin: 0 auto;
        padding: 0mm; /* 15mm Standard print padding */
    }

    .bg{
        border: none;
    }

    .info{
        width: 100%;
    }

    h2, .buttonsContainer {
        display: none !important;
    }
    

    .resultsContainer, .info, .bottomForms, 
    .topFormsA, .topFormsB, .topFormsC {
        border: none !important;
        box-shadow: none !important;
        background: none !important;
    }

    .topForms{
        border: 1px solid black;
        padding: 20px;
    }

    .title{
        font-size: 11px !important;
    }

    span{
        font-size: 10px !important;
        font-weight: 400;
        line-height: 1.5;
        display: inline-block;
    }

    img {
        display: none !important;
    }
}

@media screen and (orientation: portrait) {
    body{
        width: 100vw;
    }


    .resultsContainer{
        min-width: 0;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .info{
        width: 100%;
        padding: 5px;
    }

    .bg{
        width: 100%;
        padding: 10px;
    }

    .title{
        font-size: 0.9em;
    }



    .topForms{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}