.container{
  height: fit-content;
  width: 90%;
  box-sizing: border-box;
  background: #0073C7;
  border: 3px solid black;
  border-radius: 15px;
  margin: 20px 0;
}

.list{
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  box-sizing: border-box;
}

.buttonContainer{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.backButton{
  cursor: pointer;
  width: fit-content;
  margin: 10px;
  padding: 6px 10px;
  font-size: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (orientation: portrait) {
  .container{
    width: 100%;
  }

  .buttonContainer{
    margin-top: 10px;
  }
}