.mainBlock {
  min-width: calc(100% - 140px);
  width: calc(100vw - 20%);
  max-width: 800px;
  min-height: 100px;
  box-sizing: border-box;
  height: fit-content;
  padding: 20px 30px 20px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-block);
  border-radius: 15px;
  box-shadow: 6px 6px 18px -10px black;

  .list {
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    .searchbar {
      @include flex-center;
      flex-direction: column;
    }

    .table {
      margin: 35px 0 10px 0;
    }

    // .
    // ...
    // patientsList.module.scss
    // ...
    // .

    .counter {
      margin-left: 10px;
    }

    .buttonContainer {
      width: 100%;
      @include flex-center;
    }
  }
}

@media screen and (orientation: portrait) {
  .mainBlock {
    min-width: fit-content;
    max-width: calc(100vw - 10px);
    .list {
      height: fit-content;
      width: 100%;
      margin: 0;
      padding: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #000;
      box-sizing: border-box;
    }

    .counter {
      margin: 10px;
    }

    .buttonContainer {
      margin: 10px 0;
    }
  }
}

@media screen and (orientation: portrait) and (min-device-width: 768px) and (max-device-width: 1224px) {
  .mainBlock {
    width: 80% !important;
  }
}
