.container {
  width: 100%;
  max-width: 1020px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10%;

  .mainBlock {
    height: fit-content;
    min-width: fit-content;
    width: 100%;
    padding: 0 10px 10px 10px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-block);
    border-radius: 15px;
    box-shadow: 6px 6px 18px -10px black;

    .title {
      margin: 20px 0;
      font-weight: 700;
    }

    .table {
      width: 100%;
      // min-width: 600px;
      // max-width: 100%;
      display: flex;
      flex-direction: column;
      color: aliceblue;
      background-color: var(--table);
      padding: 5px;
      border-radius: 5px;
      table-layout: fixed;
      // border-collapse: collapse;
      &:hover {
        transition: all 0.3s;
      }

      .head {
        width: 100%;
        .rows {
          width: 100%;
          padding: 5px 5px 10px 5px;
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: 0.15fr 0.3fr 0.8fr 0.5fr;
          background-color: var(--table);

          th {
            font-size: var(--font-size);
            &:nth-child(1) {
              flex: 0.15;
              text-align: center;
            }
            &:nth-child(2) {
              flex: 0.4;
            }
            &:nth-child(3) {
              flex: 0.9;
              text-align: center;
            }
            &:nth-child(4) {
              flex: 0.4;
              text-align: center;
            }
          }
        }
      }
      .tbody {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .rowsLoading {
          display: flex;
          width: 100%;
          justify-content: space-between;
          background-color: var(--table-rows);
          padding: 5px 10px;
          overflow: hidden;

          td {
            flex: 1;
          }
        }

        .rows {
          width: 100%;
          padding: 5px 0;
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: 0.15fr 0.3fr 0.8fr 0.5fr;
          border-radius: 3px;
          background-color: var(--table-rows);
          cursor: default;
          &:last-child {
            border-radius: 3px 3px 6px 6px;
          }
          &:hover {
            transition: all 0.3s;
            background-color: var(--table-rows-hover);
          }

          td {
            white-space: wrap;
            font-size: var(--font-size);
            &:nth-child(1) {
              position: relative;
              max-width: 40px;
              left: 10px;
              flex: 0.2;
              text-align: left;
            }
            &:nth-child(2) {
              max-width: 120px;
              flex: 0.5;
              text-align: center;
            }
            &:nth-child(3) {
              max-width: 250px;
              flex: 1;
            }
            &:nth-child(4) {
              flex: 0.5;
              text-align: center;
            }
          }
        }
      }
      .noData {
        display: flex;
        justify-content: center;
        padding: 20px;
        text-align: center;
        color: aliceblue;
        font-size: 1em;
        border-radius: 6px;
        background: var(--table-rows);
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .table {
    padding: 5px;
    .head {
      display: none;
    }
    .tbody {
      .rows {
        padding: 10px !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: auto auto auto auto !important;
        gap: 5px;
        background-color: aliceblue !important;
        color: #000;
        border-radius: 6px !important;
        font-weight: 500;
        align-items: center;
        td {
          &:nth-child(1) {
            grid-column: 1;
            grid-row: 1;
            left: 0 !important;
            text-align: left;
            font-weight: 700;
            &::before {
              content: "№";
            }
          }
          &:nth-child(3) {
            grid-column: 1 / span 2;
            grid-row: 2;
            left: 0 !important;
            flex: 0.8;
            text-align: start;
            padding: 10px 0;
          }
          &:nth-child(2) {
            grid-column: 1 / span 2;
            grid-row: 3;
            left: 0 !important;
            text-align: start !important;
            align-items: start !important;
            &::before {
              content: "Поступление: ";
            }
          }
          &:nth-child(4) {
            left: 0 !important;
            grid-column: 1 / span 2;
            grid-row: 4;
            flex: 0.7;
            text-align: left !important;
            &::before {
              content: "Диагноз: ";
            }
          }
        }
      }
    }
  }
}
