.container {
  width: 100%;
  max-width: 1020px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10%;

  .mainBlock {
    height: fit-content;
    min-width: fit-content;
    width: 100%;
    padding: 0 10px 10px 10px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0073c7;
    border: 2px solid black;
    border-radius: 15px;

    .title {
      margin: 20px 0;
      font-weight: 700;
    }

    .table {
      width: auto;
      max-width: 100%;
      background-color: #016ebb;
      table-layout: auto;
      border-collapse: collapse;
      border-radius: 6px;
      &:hover {
        transition: all 0.3s;
      }

      .head {
        .rows {
          display: flex;
          background-color: #0060a4;
          align-items: center;
          margin-bottom: 2px;
          border-radius: 6px 6px 0 0;
          cursor: default;

          th {
            padding: 10px;
            white-space: nowrap;
            text-align: center;
            font-size: 0.9em;
            &:nth-child(1) {
              min-width: 130px;
              flex: 0.2;
            }
            &:nth-child(2) {
              min-width: 80px;
              flex: 0.5;
            }
            &:nth-child(3) {
              min-width: 80px;
              flex: 0.5;
            }
            &:nth-child(4) {
              min-width: 100px;
              flex: 1;
            }
            &:nth-child(5) {
              min-width: 150px;
              flex: 0.5;
            }
            &:nth-child(6) {
              min-width: 100px;
              flex: 0.5;
            }
          }
        }
      }

      .tbody {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .rows {
          display: flex;
          width: 100%;
          padding: 5px 0;
          justify-content: space-between;
          background-color: #0066b0;
          cursor: default;
          align-items: center;
          &:last-child {
            border-radius: 0 0 6px 6px;
          }
          &:hover {
            transition: all 0.3s;
            background-color: #005fa2;
          }

          td {
            white-space: wrap;
            padding: 0 5px;
            font-size: 0.8em;
            &:nth-child(1) {
              flex: 0.2;
              min-width: 130px;
              text-align: left;
              position: relative;
              left: 10px;
            }
            &:nth-child(2) {
              min-width: 80px;
              flex: 0.5;
              text-align: center;
            }
            &:nth-child(3) {
              min-width: 80px;
              flex: 0.5;
              text-align: center;
            }
            &:nth-child(4) {
              min-width: 100px;
              flex: 1;
              text-align: center;
            }
            &:nth-child(5) {
              min-width: 150px;
              flex: 0.5;
            }
            &:nth-child(6) {
              min-width: 100px;
              flex: 0.5;
              text-align: center;
            }
          }
        }
      }
      .rowsLoading {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: #006fbe;
        padding: 5px 10px;
        overflow: hidden;

        td {
          flex: 1;
        }
      }
      .noData {
        display: flex;
        justify-content: center;
        padding: 20px;
        text-align: center;
        color: aliceblue;
        font-size: 1em;
        border-radius: 5px;
        background: #006fbe;
      }
    }
  }
}

@media screen and (orientation: portrait) {
  body {
    height: 100%;
  }
  .container {
    padding: 10px;
    .mainBlock {
      padding: 5px;

      .table {
        .head {
          .rows {
            th:nth-child(1) {
              flex: 0.5;
              font-size: 0.8em !important;
              left: 15px;
            }

            th:nth-child(2) {
              flex: 0.2;
              font-size: 0.8em !important;
            }

            th:nth-child(3) {
              flex: 0.3;
              text-align: center;
              font-size: 0.8em !important;
            }

            th:nth-child(4) {
              flex: 0.3;
              text-align: center;
              font-size: 0.8em !important;
            }
            th:nth-child(5) {
              flex: 0.3;
              text-align: center;
              font-size: 0.8em !important;
            }
          }
        }
        .tbody {
          .rows {
            td {
              &:nth-child(1) {
                flex: 0.5;
                text-align: left;
                position: relative;
                left: 10px;
                font-size: 0.8em !important;
              }
              &:nth-child(2) {
                flex: 0.2;
                font-size: 0.8em !important;
              }
              &:nth-child(3) {
                flex: 0.3;
                text-align: center;
                font-size: 0.8em !important;
              }
              &:nth-child(4) {
                flex: 0.3;
                text-align: center;
                font-size: 0.8em !important;
              }
              &:nth-child(5) {
                flex: 0.3;
                text-align: center;
                font-size: 0.8em !important;
              }
            }
          }
        }
      }
    }
  }
}
