.tooltipWrapper {
  position: relative;
  display: inline-block;
  cursor: default;
}

.tooltipContent {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  top: 130%;
  background: rgba(20, 30, 50, 0.95);
  color: #fff;
  padding: 7px 0px;
  border-radius: 10px;
  min-width: 165px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  font-size: 0.8em;
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;

  ul {
    margin: 6px 0 0;
    padding: 0;
    list-style: none;

    li {
      margin: 2px 0;
      padding: 2px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
