.colorBlocksContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5 1fr 1fr;
  align-items: center;
  font-weight: 600;
  font-size: 1.3em;
  width: 50%;
  .paletteTitle {
    grid-row: span 1 / span 1;
    text-align: center;
  }
  .colorBlocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: center;
    font-weight: 300;
    font-size: 0.7em;
    &:first-child {
      margin-top: 10px;
    }
    &:not(:first-child) {
      margin-top: 5px;
    }
    .colorPicker {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin-bottom: 10px;
    }
  }
}
