.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.mainBlock {
    height: fit-content;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0073C7;
    border-style: solid;
    border-radius: 15px;
    gap:20px;
}

.loadingTitle{
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    margin: 30px 50px;
}

.buttonsContainer{
    display: flex;
    gap: 10px;
}

@media screen and (orientation: portrait) {
    body{
        height: 100%;
    }

    .mainBlock{
        padding: 0px 10px 20px 10px;
        gap:0px;
    }

    .container{
        margin: 20px;
        width: 200px;
    }

    .buttonsContainer{
        gap: 0px;
        margin: 0 15px;
        gap: 10px;
    }

    /* .button{
        font-size: 1em;
        padding: 3px 5px;
        
    } */
}
