.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  padding: 20%;
}
.mainBlock {
  height: fit-content;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  background-color: #0073c7;
  border-style: solid;
  border-radius: 15px;
}

@media screen and (orientation: portrait) {
  body {
    height: 100%;
  }
  .container{
    padding: 10px;
  }
  .buttonsContainer{
    display: flex;
    gap: 5px;
    /*
    width: 100%;
    */
  }
  .button{
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
