:root {
  --main-block: #0073c7;
  --font-size: 0.8rem;

  // Table defaults
  --table-bg: #005fa3;
  --table-row: #006fbe;
  --table-row-loading: #488ab9;
  --table-row-hover: #005490;
  --table-row-active: #004474;
  --text-color: #f0f8ff;

  --mobile-table-row-hover: #ceeaff;
  --mobile-table-row-active: #629fca;

  --state-stable: #66bb6a;
  --state-moderate: #ffca28;
  --state-severe: #ff8a65;
  --state-critical: #e53935;
  --state-leave: #ffffffbf;
  --mobile-state-leave: #86e5ffbf;
}

// Table themes
[data-theme="default"] {
  --table-bg: #005fa3;
  --table-row: #006fbe;
  --table-row-loading: #488ab9;
  --table-row-hover: #005490;
  --table-row-active: #004474;
  --text-color: #f0f8ff;

  --mobile-table-row-hover: #ceeaff;
  --mobile-table-row-active: #629fca;

  --state-stable: #66bb6a;
  --state-moderate: #ffca28;
  --state-severe: #ff8a65;
  --state-critical: #e53935;
  --state-leave: #ffffffbf;
  --mobile-state-leave: #86e5ffbf;
}
[data-theme="dark"] {
  --table-bg: #1e293b;
  --table-row: #334155;
  --table-row-loading: #616161;
  --table-row-hover: #475569;
  --table-header: #0f172a;
  --text-color: #e2e8f0;
  --state-stable: #064e3b;
}
[data-theme="light"] {
  --table-bg: #ffffff;
  --table-row: #f2f2f2;
  --table-row-loading: #d4d4d4;
  --table-row-hover: #e1e1e1;
  // --table-row-active:;
  --table-header: #f1f5f9;
  --text-color: #1f2937;

  --state-stable: #94ffc8;
  --state-moderate: #ffeda4;
  --state-severe: #ffc8c8;
  --state-critical: #fecaca;
  --state-leave: #e0f2fe;
}

[data-theme-app="default"] {
  --main-block: #0073c7;
  --header-background: #3c97e6;
  --header-text-color: #f0f8ff;
  --content-background: #a5c6e2;
  --app-text-color: #f0f8ff;

  --searchbar-background: #edf2f7;

  --searchbar-text-color: #cdcdcd;
  --search-button-background: #ffffff;
  --search-button-icon-color: #e8e8e8;

  --tab-background: #0086e6;
  --tab-background-hover: #0067b1;
  --tab-background-clicked: #005796;
  --tab-background-active: #0086e6;

  --page-background-inside: #0075c9;
  --divider: #ffffff80;
}
[data-theme-app="light"] {
  --main-block: #ffffff;
  --header-background: #e1e1e1;
  --header-text-color: #1f2937;
  --content-background: #f1f1f1;
  --app-text-color: #1f2937;

  --searchbar-background: #edf2f7;
  --searchbar-text-color: #c8c8c8;
  --search-button-background: #edf2f7;
  --search-button-icon-color: #c8c8c8;

  --tab-background: #f1f1f1;
  --tab-background-hover: #d7d7d7;
  --tab-background-clicked: #bebebe;
  --tab-background-active: #d2d2d2;

  --page-background: #d2d2d2;
  --page-background-inside: #f1f1f1;
  --divider: #d1d1d180;
}
[data-theme-app="dark"] {
  --header-background: #1f2937;
  --header-text-color: #f2f2f2;
}
