:root {
  --main-block: #0073c7;

  --table-bg: #005fa3;
  --table-row: #006fbe;
  --table-row-hover: #005490;
  --table-row-active: #004474;
  --text-color: #f0f8ff;

  --mobile-table-row-hover: #ceeaff;
  --mobile-table-row-active: #629fca;

  --state-stable: #66bb6a;
  --state-moderate: #ffca28;
  --state-severe: #ff8a65;
  --state-critical: #e53935;
  --state-leave: #ffffffbf;
  --mobile-state-leave: #86e5ffbf;

  --loading-skeleton: #488ab9;

  --font-size: 0.8rem;
}
