:root {
  --main-block: #0073c7;

  --table: #005fa3;
  --table-rows: #006fbe;
  --table-rows-hover: #005490;
  --table-rows-active: #004474;

  --mobile-table-row-hover: #4a97cf;
  --mobile-table-row-active: #005fa2;

  --state-stable: #4caf50bf;
  --state-moderate: #c9c318bf;
  --state-critical: #f44336bf;
  --state-leave: #ffffffbf;
  --mobile-state-leave: #86e5ffbf;

  --loading-skeleton: #488ab9;

  --font-size: 0.8rem;
}
